@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amiri Regular'), local('Amiri-Regular'), url(https://fonts.gstatic.com/s/amiri/v13/J7aRnpd8CGxBHpUutLY.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Caveat Regular'), local('Caveat-Regular'), url(https://fonts.gstatic.com/s/caveat/v7/Wnz6HAc5bAfYB2Q7ZjYd.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 5% 7%;
  background-color: #e2e2e6;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.8rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  font-family: 'Indie Flower', cursive;
}
/************TEST BORDER*********************/
/************TEST BORDER*********************/
.navi nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navi nav a {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
  color: #781f2c;
  padding: 1% 2%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #76644B;
}
.top {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  margin-bottom: 5%;
}
.top .img {
  width: 50%;
  display: flex;
}
.top .info {
  width: 50%;
  display: flex;
}
.top .info div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.top .info a {
  font-size: 3.5rem;
  padding: 0 2.5vh;
  color: #781f2c;
}
.bottom {
  display: flex;
}
.bottom .experience {
  width: 50%;
  text-align: center;
}
.bottom .about {
  width: 50%;
}
