// Place variables here
@import url('https://fonts.googleapis.com/css?family=Amiri|Caveat&display=swap');

@main-font: 'Roboto', sans-serif;
@title-font: 'Indie Flower', cursive;

// Color assignments 
@font-color: @tan;
@button-bg: @maroon;
@main-bg:  @greige;
@nav-links: @maroon;
@footer-bg: @tan;

// Colors
@greige: #e2e2e6;
@gray: #787376;
@tan: #76644B;
@maroon: #781f2c;